asgiref
crispy-bootstrap5
django-crispy-forms
django-cloudinary-storage
django-extensions
django-countries
django-formtools
Pillow
qrcode
sqlparse
django
gunicorn
python-dotenv
whitenoise
dj-database-url
psycopg2-binary
shortuuid
sweetify
git+https://${GITHUB_TOKEN}@github.com/app-generator/priv-django-admin-berry-pro