asgiref
crispy-bootstrap5
django-crispy-forms
Pillow
qrcode
sqlparse
django
gunicorn
python-dotenv
whitenoise
dj-database-url
psycopg2-binary
git+https://${GITHUB_TOKEN}@github.com/app-generator/priv-django-admin-berry-pro


