{% load static %}

<!-- Required Js -->
<script src="{% static 'assets/js/plugins/popper.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/simplebar.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
<script>
'use strict';
var dark_layout = 'false';
var rtl_layout = 'false';
var preset_color = 'preset-3';
var box_container = 'false';
var font_name = 'Poppins';
</script>
<script src="{% static 'assets/js/pcoded.js' %}"></script>
<script src="{% static 'assets/js/plugins/feather.min.js' %}"></script>
