{% extends 'layouts/base.html' %} {% load static %} {% block title %} Batch
Details {% endblock title %} {% block content %}

<!-- [ Main Content ] start -->
<div class="pc-container">
  <div class="pc-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Batch Details</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item">
                <a href="javascript: void(0)">Internal</a>
              </li>
              <li class="breadcrumb-item" aria-current="page">Batch Details</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->

    <!-- [ Main Content ] start -->
    <div class="row">
      <!-- [ sample-page ] start -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <ul
              class="nav nav-tabs profile-tabs border-bottom mb-3 d-print-none"
              id="myTab"
              role="tablist"
            >
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="profile-tab-1"
                  data-bs-toggle="tab"
                  href="#profile-1"
                  role="tab"
                  aria-controls="Profile-1"
                  aria-selected="true"
                >
                  <i class="material-icons-two-tone me-2">description</i>Details
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="profile-tab-3"
                  data-bs-toggle="tab"
                  href="#profile-3"
                  role="tab"
                  aria-controls="Profile-3"
                  aria-selected="true"
                >
                  <i class="material-icons-two-tone me-2">local_shipping</i
                  >Status
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <div
                class="tab-pane show active"
                id="profile-1"
                role="tabpanel"
                aria-labelledby="profile-tab-1"
              >
                <div class="card border">
                  <div class="card-header">
                    <div class="row">
                      <div class="col-sm-6">
                        <h5 class="mb-0">For: {{batch.brand}}</h5>
                        <br/>
                        <h5 class="mb-0">Name: {{batch.product_name}}</h5>
                      </div>
                      <div class="col-sm-6 text-sm-end">
                        <a href="/edit-batch/{{batch.batch_number}}" class="btn btn-primary me-2">Update Batch</a>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        Batch Number: #{{ batch.batch_number }}
                      </li>
                      <li class="list-inline-item">
                        Batch Date: {{batch.batch_date}}
                      </li>
                      <li class="list-inline-item">
                        Batch Expiry: {{batch.expiry_date}}
                      </li>
                    </ul>
                    <hr class="my-4" />
                    <div class="row align-items-center">
                      <div class="col-md-4">
                        <h4 class="mb-2">Bottle Type</h4>
                        <span
                          class="badge text-success border border-success rounded-pill f-12 align-baseline mb-1"
                          >{{batch.bottle_type}}</span
                        >
                        <span class="text-muted f-14"></span>
                        <p class="mb-1 mt-2">
                          <b>Unit Weight :</b> {{ batch.unit_weight }}g
                        </p>
                        <p><b>Units Produced :</b> {{ batch.number_made}}</p>
                        <p><b>Max Possible Units:</b> {{ batch.max_possible}}</p>
                      </div>
                      <div class="col-md-4">
                        <h4 class="mb-2">Batch Status</h4>
                        <span
                          class="badge text-secondary border border-secondary rounded-pill f-12 align-baseline mb-1"
                          >{{batch.batch_status}}</span
                        >
                        <span class="text-muted f-14"></span>
                        
                      </div>
                      <div class="col-md-4">
                        <h4 class="mb-2">Batch QR Code</h4>
                        <img src="{{batch.qrcode.url}}" width="200px" />
                      </div>
                    </div>
                    <hr class="my-4" />
                  </div>
                </div>
                <div class="card border table-card">
                  <div class="card-header">
                    <h5 class="mb-0">Source containers</h5>
                  </div>
                  <div class="card-body p-0">
                    <div class="table-responsive">
                      <table class="table mb-0">
                        <thead>
                          <tr>
                            <th >Order Number</th>
                            <th >Beekeeper</th>
                            <th>Honey content</th>
                            <th class="text-end">Net Weight</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for item in order_items%}
                          <tr>
                            <td class="">{{item.order.order_number}}</td>
                            <td class="">{{item.order.bee_keeper}}</td>
                            <td>
                              <div>
                                <h5 class="mb-1">
                                  {{item.ht}}
                                </h5>
                              </div>
                            </td>
                            
                            <td class="text-end">{{item.net_weight}} kg</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="bg-light-primary">
                      <div class="row justify-content-end">
                        <div class="col-auto">
                          <div class="table-responsive">
                            <table class="table table-borderless text-end mb-0">
                              <tbody>
                                <tr>
                                  <th>Net weight Total:</th>
                                  <td>{{batch.total_weight}} kg</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane"
                id="profile-3"
                role="tabpanel"
                aria-labelledby="profile-tab-3"
              >
                <div class="card border">
                  <div class="card-header">
                    <h5>ORDER STATUS</h5>
                  </div>
                  <div class="card-body">
                    <div
                      class="row mb-4 align-items-center justify-content-between"
                    >
                      <div class="col-auto">
                        <p class="mb-1"><b>Order Place Date</b></p>
                        <p class="text-muted">10th Mar, 2021</p>
                      </div>
                      <div class="col-auto">
                        <p class="mb-1"><b>Order Status</b></p>
                        <p class="text-muted">Processing</p>
                      </div>
                      <div class="col-auto">
                        <p class="mb-1"><b>Delivery Option</b></p>
                        <p class="text-muted">Fedex Express Delivery</p>
                      </div>
                      <div class="col-auto">
                        <p class="mb-1"><b>Payment</b></p>
                        <p class="text-muted">Credit Card</p>
                      </div>
                      <div class="col-auto">
                        <p class="mb-1"><b>Order Amount</b></p>
                        <p class="text-muted">$90,020</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-9">
                        <div class="row order-timeline">
                          <div class="col-2 col-md-1 order-md-2">
                            <div class="timeline-progress active"></div>
                          </div>
                          <div class="col-10 col-md-3 order-md-1 text-md-end">
                            <h6>Order Placed</h6>
                            <p>12 jun</p>
                          </div>
                          <div class="col-10 col-md-8 order-md-2 ms-auto">
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item px-0 py-2">
                                The order was validated.
                              </li>
                              <li class="list-group-item px-0 py-2">
                                The order was placed.
                              </li>
                              <li class="list-group-item px-0 py-2">
                                The order was placed.
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="row order-timeline">
                          <div class="col-2 col-md-1 order-md-2">
                            <div class="timeline-progress half-active"></div>
                          </div>
                          <div class="col-10 col-md-3 order-md-1 text-md-end">
                            <h6>Order Processing</h6>
                            <p>14 jun</p>
                          </div>
                          <div class="col-10 col-md-8 order-md-2 ms-auto">
                            <p>
                              Payment transaction [ method: Credit Card, type:
                              sale, amount: $90,020, status: Processing ]
                            </p>
                          </div>
                        </div>
                        <div class="row order-timeline">
                          <div class="col-2 col-md-1 order-md-2">
                            <div class="timeline-progress"></div>
                          </div>
                          <div class="col-10 col-md-3 order-md-1 text-md-end">
                            <h6>Order Shipping</h6>
                            <p>16 jun</p>
                          </div>
                          <div class="col-10 col-md-8 order-md-2 ms-auto">
                            <p>Sent a notification to the client by e-mail.</p>
                          </div>
                        </div>
                        <div class="row order-timeline">
                          <div class="col-2 col-md-1 order-md-2">
                            <div class="timeline-progress"></div>
                          </div>
                          <div class="col-10 col-md-3 order-md-1 text-md-end">
                            <h6>Order Delivered</h6>
                            <p>17 jun</p>
                          </div>
                          <div class="col-10 col-md-8 order-md-2 ms-auto">
                            <p>Order Delivered</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="form-label">Write a Review</label>
                          <textarea
                            class="form-control"
                            rows="6"
                            placeholder="Enter your review"
                          ></textarea>
                        </div>
                        <button class="btn btn-primary">Post Review</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- [ sample-page ] end -->
    </div>
    <!-- [ Main Content ] end -->
  </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %} {% block extra_js %}
<!-- [Page Specific JS] start -->
<script>
  document
    .querySelector('.btn-print-invoice')
    .addEventListener('click', function () {
      var link2 = document.createElement('link');
      link2.innerHTML =
        '<style>@media print{*,::after,::before{text-shadow:none!important;box-shadow:none!important}a:not(.btn){text-decoration:none}abbr[title]::after{content:" (" attr(title) ")"}pre{white-space:pre-wrap!important}blockquote,pre{border:1px solid #adb5bd;page-break-inside:avoid}thead{display:table-header-group}img,tr{page-break-inside:avoid}h2,h3,p{orphans:3;widows:3}h2,h3{page-break-after:avoid}@page{size:a3}body{min-width:992px!important}.container{min-width:992px!important}.page-header,.pc-sidebar,.pc-mob-header,.pc-header,.pct-customizer,.modal,.navbar{display:none}.pc-container{top:0}.invoice-contact{padding-top:0}@page,.card-body,.card-header,body,.pc-content{padding:0;margin:0}.badge{border:1px solid #000}.table{border-collapse:collapse!important}.table td,.table th{background-color:transparent!important}.table-bordered td,.table-bordered th{border:1px solid #dee2e6!important}}</style>';
      document.getElementsByTagName('head')[0].appendChild(link2);
      window.print();
    });
</script>
<!-- [Page Specific JS] end -->
{% endblock extra_js %}
