{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Beekeepers {% endblock title %}

{% block content %}

  <!-- [ Main Content ] start -->
  <div class="pc-container">
    <div class="pc-content">
      <!-- [ Main Content ] start -->
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="page-header-title">
                <h5 class="m-b-10">Beekeepers</h5>
              </div>
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0)">Customer</a></li>
                <li class="breadcrumb-item" aria-current="page">Order List</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
          <div class="card table-card">
            <div class="card-header">
              <h5>Order List</h5>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover" id="orders-table">
                  <thead>
                    <tr>
                      <th>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" />
                        </div>
                      </th>
                      <th>ID</th>
                      <th>Beekeeper Name</th>
                      <th>Date</th>
                      <th>Net Weight</th>
                      <th>Unit Price</th>
                      <th>Total</th>
                      <th>Status</th>
                      <th class="text-center">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in orders %}
                    <tr>
                      <td>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" />
                        </div>
                      </td>
                      <td>
                      <h5 class="mb-0"><a href="{% url 'order_details' order.order_number %}">#{{order.order_number}}</a></h5>
                      </td>
                      <td>
                        <h5 class="mb-0">{{order.bee_keeper.name}}</h5>
                      </td>
                      <td>{{order.date}}</td>
                      <td>{{order.net_weight}}</td>
                      <td>${{order.unit_price}}</td>
                      <td>${{order.total_price}}</td>
                      <td><span class="badge bg-light-primary rounded-pill f-12">Processing</span> </td>
                      <td class="text-center">
                        <button type="button" class="btn btn-link-primary" onclick="window.location.href='/order-details/{{order.order_number}}';"><i class="ti ti-eye"></i></button>
                        <button type="button" class="btn btn-link-secondary" onclick="window.location.href='/edit-order/{{order.order_number}}';"><i class="ti ti-pencil"></i></button>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card table-card">
            <div class="card-header">
              <h5>Batch List</h5>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover" id="batches-table">
                  <thead>
                    <tr>
                      <th>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" />
                        </div>
                      </th>
                      <th>Batch Number</th>
                      <th>Batch Date</th>
                      <th>Expiry Date</th>
                      <th>Brand</th>
                      <th>Bottle Type</th>
                      <th>Unit Weight</th>
                      <th>Status</th>
                      <th class="text-center">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for batch in batches %}
                    <tr>
                      <td>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" />
                        </div>
                      </td>
                      <td>
                      <h5 class="mb-0"><a href="{% url 'batch_details' batch.batch_number %}">#{{batch.batch_number}}</a></h5>
                      </td>
                      <td>{{batch.batch_date}}</td>
                      <td>{{batch.expiry_date}}</td>
                      <td>
                        <h5 class="mb-0">{{batch.brand}}</h5>
                      </td>
                      <td>{{batch.bottle_type}}</td>
                      <td>{{batch.unit_weight}}g</td>
                      <td><span class="badge bg-light-primary rounded-pill f-12">{{batch.batch_status}}</span> </td>
                      <td class="text-center">
                        <button type="button" class="btn btn-link-primary" onclick="window.location.href='/batch-details/{{batch.batch_number}}';"><i class="ti ti-eye"></i></button>
                        <button type="button" class="btn btn-link-secondary"  onclick="window.location.href='/edit-batch/{{batch.batch_number}}';"><i class="ti ti-pencil"></i></button>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- [ sample-page ] end -->
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>
  <!-- [ Main Content ] end -->

{% endblock content %}

{% block extra_js %}

    <!-- [Page Specific JS] start -->
    <script src="{% static 'assets/js/plugins/simple-datatables.js' %}"></script>
    <script>
      const ordersTable = new simpleDatatables.DataTable('#orders-table', {
        sortable: false,
        perPage: 5
      });
      const batchesTable = new simpleDatatables.DataTable('#batches-table', {
        sortable: false,
        perPage: 5
      });
    </script>
    <!-- [Page Specific JS] end -->

{% endblock extra_js %}


