{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Batch Details |{% endblock title %}
{% block extrastyle %}
  <!-- [Page specific CSS] start -->
  <style>
  @media print { 
    .pc-footer { 
      display: none!important;
     } 
    }
  </style>
  <!-- [Page specific CSS] end -->
{% endblock extrastyle %}
{% block content %}

  <!-- [ Main Content ] start -->
  <div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="page-header-title">
                <h5 class="m-b-10">Batch Details</h5>
              </div>
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0)">Batch</a></li>
                <li class="breadcrumb-item" aria-current="page">Batch Details</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->


      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
          <div class="card border invoice-card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-sm-6">
                  <h5 class="mb-0">Batch #{{ batch.batch_number | upper}}</h5>
                  <br/>
                  <span class="badge text-success border border-success rounded-pill f-12 align-baseline mb-1">{{batch.batch_status}}</span>
                </div>
                <div class="col-sm-6 text-sm-end"><img src="/media/logo.svg" alt="logo" class="img-fluid" /></div>
              </div>
            </div>
            <div class="card-body">
              <div class="row mb-3">
                <div class="col-md-6">
                  <h4 class="mb-2"><b>Tank Number: {{batch.tank_number}}</b></h4>
                  <h4 class="mb-2">Honey Type: {{batch.honey_type}}</h4>
                </div>
                <div class="col-md-6">
                  <h4 class="mb-2">Batch QR Code</h4>
                    <img src="{{batch.qrcode.url}}" width="200px"/>
                  </div>
              </div>
              {% if batch.previous_batch %}
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Previous Batch</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ batch.previous_batch.batch_number }}</td>
                      <td>{{batch.previous_batch.honey_type }}</td>
                      <td>
                        <div>
                          <h5 class="mb-1">{{batch.previous_batch.tank_number}}</h5>
                        </div>
                      </td>
                      <td class="text-end">{{ batch.previous_batch.remaining_weight }} kg</td>
                    </tr>

                  </tbody>
                </table>
              </div>
              {% endif %}

              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Supplier</th>
                      <th>IBC</th>
                      <th>Honey Type</th>
                      <th class="text-end">IBC/Container Weight</th>
                      <th class="text-end">Net Weight</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in honey_stock%}
                    <tr>
                      <td>{{item.order.supplier.name}}</td>
                      <td>{{item.ibc_number}}</td>
                      <td>
                        <div>
                          <h5 class="mb-1">{{item.ht}}</h5>
                        </div>
                      </td>
                      <td class="text-end">{{item.ibc_weight}} kg</td>
                      <td class="text-end">{{item.net_weight}} kg</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="rounded p-3 mb-3 bg-light-primary">
                <div class="row justify-content-end">
                  <div class="col-auto">
                    <div class="table-responsive">
                      <table class="table table-borderless text-end mb-0">
                        <tbody>
                          <tr>
                            <td class="pe-0 pt-0">
                              <hr class="mb-3 mt-0" />
                              <h5 class="text-primary m-r-10">Total Honey Weight :</h5>
                            </td>
                            <td class="ps-0 pt-0">
                              <hr class="mb-3 mt-0" />
                              <h5 class="text-primary">{{batch.weight}} kg</h5>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center d-print-none mt-5 mb-3">
              <button type="button" class="btn btn-print-invoice btn-primary m-b-10 m-r-10">Print</button>
              <button type="button" class="btn btn-secondary m-b-10"  onclick="window.location.href='{% url 'batch_edit' batch.batch_number %}';">Edit</button>
            </div>
          </div>
        </div>
        <!-- [ sample-page ] end -->
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>
  <!-- [ Main Content ] end -->

{% endblock content %}

{% block extra_js %}
  <!-- [Page Specific JS] start -->
  <script>
    document.querySelector('.btn-print-invoice').addEventListener('click', function () {
      var link2 = document.createElement('link');
      link2.innerHTML =
      '<style>@media print{*,::after,::before{text-shadow:none!important;box-shadow:none!important}a:not(.btn){text-decoration:none}abbr[title]::after{content:" (" attr(title) ")"}pre{white-space:pre-wrap!important}blockquote,pre{border:1px solid #adb5bd;page-break-inside:avoid}thead{display:table-header-group}img,tr{page-break-inside:avoid}h2,h3,p{orphans:3;widows:3}h2,h3{page-break-after:avoid}@page{size:a3}body{min-width:992px!important}.container{min-width:992px!important}.page-header,.pc-sidebar,.pc-mob-header,.pc-header,.pct-customizer,.modal,.navbar{display:none}.pc-container{top:0;background-color:transparent!important}.invoice-contact{padding-top:0}@page,.card-body,.card-header,body,.pc-content{padding:0;margin:0}.badge{border:1px solid #000}.table{border-collapse:collapse!important}.table td,.table th{background-color:transparent!important}.table-bordered td,.table-bordered th{border:1px solid #dee2e6!important}.pc-footer{display:none}}</style>';
      document.getElementsByTagName('head')[0].appendChild(link2);

      window.print();

    });
  </script>
  <!-- [Page Specific JS] end -->
{% endblock extra_js %}