{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Labels |{% endblock title %}
{% block extrastyle %}
    <!-- [Page specific CSS] start -->

    <!-- [Page specific CSS] end -->
{% endblock extrastyle %}
{% block content %}

  <!-- [ Main Content ] start -->
  <div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="page-header-title">
                <h5 class="m-b-10">New Label</h5>
              </div>
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0)">Inventory</a></li>
                <li class="breadcrumb-item"><a href="{% url 'labels' %}">Labels</a></li>
                <li class="breadcrumb-item" aria-current="page">New Label</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->


      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
          <div class="row justify-content-center">
            <div class="col-xl-11 col-xxl-10">
              <div class="card">
                <div class="card-body">
                  <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                  <div class="row">

                    <div class="col-md-7">
                      <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Name <span class="text-danger">*</span></label>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <input
                              class="form-control"
                              type="text"
                              id="label-name"
                              name="label-name"
                              placeholder="label name"
                            />

                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Brand <span class="text-danger">*</span></label>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                          <select class="form-select" aria-label="Default select example" name="brand" id="brand">
                            {% for b in brands %}
                            <option value="{{ b.id }}" >{{ b.name }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Quantity <span class="text-danger">*</span></label>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                          <div class="btn-group btn-group-sm mb-2 border" role="group">
                            <button type="button" id="decrease" onclick="decreaseValue('quantity')" class="btn btn-link-dark"
                              ><i class="ti ti-minus"></i
                            ></button>
                            <input
                              class="wid-70 text-center border-0 m-0 form-control rounded-0 shadow-none"
                              type="text"
                              id="quantity"
                              name="quantity"
                              value="0"
                            />
                            <button type="button" id="increase" onclick="increaseValue('quantity')" class="btn btn-link-dark"
                              ><i class="ti ti-plus"></i
                            ></button>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-12 text-lg-end">Image <span class="text-danger">*</span></label>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                        <input type="file" class="form-control" name="label-image" id="label-image" accept="image/*" />
                       </div>
                      </div>
                      <hr class="my-3" />
                      <div class="row">
                        <div class="col-6">
                          <div class="d-grid">
                            <button  class="btn btn-primary">Create</button>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="d-grid">
                            <button type="reset" class="btn btn-secondary">Reset</button>
                          </div>
                        </div>
                      </div>
                    </div>
                
                  </div>
                </form>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- [ sample-page ] end -->
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>
  <!-- [ Main Content ] end -->

{% endblock content %}

{% block extra_js %}

  <!-- Sweet Alert -->
  <script src="{% static 'assets/js/plugins/sweetalert2.all.min.js' %}"></script>
  {% load sweetify %}
  {% sweetify %}
  <script>
// quantity start
function increaseValue(temp) {
  var value = parseInt(document.getElementById(temp).value, 10);
  value = isNaN(value) ? 0 : value;
  value++;
  document.getElementById(temp).value = value;
}

function decreaseValue(temp) {
  var value = parseInt(document.getElementById(temp).value, 10);
  value = isNaN(value) ? 0 : value;
  value < 1 ? (value = 1) : '';
  value--;
  document.getElementById(temp).value = value;
}
// quantity end



  </script>
  <!-- [Page Specific JS] end -->

{% endblock extra_js %}


