{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Daily Production {% endblock title %}

{% block content %}

  <!-- [ Main Content ] start -->
  <div class="pc-container">
    <div class="pc-content">
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-lg-3 col-md-6">
          <div class="card bg-primary total-card">
            <div class="card-body">
              <!-- <span class="text-white float-end">12%</span> -->
              <div class="text-start">
                <h3 class="text-white mb-2">{{count}}</h3>
                <p class="m-0 text-white">Total Production</p>
              </div>
            </div>
            <div id="total-value-graph-1"></div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] start -->

      <!-- [ breadcrumb ] end -->
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
          <div class="card table-card">
            <div class="card-header">
              <h5 class="d-flex justify-content-between align-items-center">
                Daily Production
                <a href="{% url 'production_create' %}" class="btn btn-primary me-2">New Production</a>  
                <!-- Wrap with <div>...buttons...</div> if you have multiple buttons -->
              </h5>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover" id="productions-table">
                  <thead>
                    <tr>
                      <th>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" />
                        </div>
                      </th>
                      <th>Production Code</th>
                      <th>Packing Date</th>
                      <th>Product</th>
                      <th>Number Requested</th>
                      <th>Number Made</th>
                      <th>Status</th>
                      <th class="text-center">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for production in productions %}
                    <tr>
                      <td>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" />
                        </div>
                      </td>
                      <td>
                      <h5 class="mb-0"><a href="{% url 'production_edit' production.production_code %}">#{{production.production_code}}</a></h5>
                      </td>
                      <td>{{production.packing_date}}</td>
                      <td>{{production.product.name}}</td>
                      <td>{{production.requested_units}}</td>
                      <td>{{production.units_made}}</td>
                      <td><span class="badge bg-light-primary rounded-pill f-12">{{production.status}}</span></td>
                      <td class="text-center">
                        <button type="button" class="btn btn-link-secondary"  onclick="window.location.href='{% url 'production_edit' production.production_code %}';"><i class="ti ti-pencil"></i></button>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- [ sample-page ] end -->
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>
  <!-- [ Main Content ] end -->

{% endblock content %}

{% block extra_js %}

  <!-- [Page Specific JS] start -->
  <!-- Apex Chart -->
    <script src="{% static 'assets/js/plugins/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/js/pages/w-chart.js' %}"></script>
  <!-- data tables -->
  <script src="{% static 'assets/js/plugins/simple-datatables.js' %}"></script>
  <!-- Sweet Alert -->
  <script src="{% static 'assets/js/plugins/sweetalert2.all.min.js' %}"></script>
  {% load sweetify %}
  {% sweetify %}
    <script>
      const productionesTable = new simpleDatatables.DataTable('#productions-table', {
        sortable: false,
        perPage:10
      });
    </script>
    <!-- [Page Specific JS] end -->

{% endblock extra_js %}


