{% extends 'layouts/auth_base.html' %}
{% load static %}

{% block title %} Coming Soon {% endblock title %}

{% block content %}

  <div class="commingsoon-wrapper">
    <div class="sideanimation-block">
      <img class="img-fluid img-bg-logo" src="{% static 'assets/images/logo-dark.svg' %}" />
      <img class="img-fluid img-comming img-comm-ring-small" src="{% static 'assets/images/pages/img-comm-ring-small.svg' %}" />
      <div class="bottom-img">
        <img class="img-fluid img-bg-ring" src="{% static 'assets/images/pages/img-comm-ring-big.svg' %}" />
        <img class="img-fluid img-comming img-bg-grid" src="{% static 'assets/images/pages/img-comm-bg-grid.svg' %}" />
        <img class="img-fluid img-comming img-widget img-widget1" src="{% static 'assets/images/pages/img-comm-widget1.svg' %}" />
        <img class="img-fluid img-comming img-widget img-widget2" src="{% static 'assets/images/pages/img-comm-widget2.svg' %}" />
        <img class="img-fluid img-comming img-widget img-widget3" src="{% static 'assets/images/pages/img-comm-widget3.svg' %}" />
        <img class="img-fluid img-comming img-widget img-widget4" src="{% static 'assets/images/pages/img-comm-widget4.svg' %}" />
        <img class="img-fluid img-comming img-widget img-widget5" src="{% static 'assets/images/pages/img-comm-widget5.svg' %}" />
        <img class="img-fluid img-comming img-bg-1" src="{% static 'assets/images/pages/img-comm-bg1.svg' %}" />
        <img class="img-fluid img-comming img-bg-2" src="{% static 'assets/images/pages/img-comm-bg2.svg' %}" />
      </div>
    </div>

    <div class="content-block">
      <div class="card commingsoon-block">
        <div class="card-body">
          <h2 class="text-primary"><b>Coming Soon</b></h2>
          <h1 class="mt-4"><b>Berry - The React Admin Template</b></h1>
          <p class="text-muted mt-3 f-18">Presenting Material-UI based React Dashboard Template to build
            performance centric websites and applications.</p>
          <ul class="list-inline text-secondary mt-4">
            <li class="list-inline-item d-inline-flex align-items-center"><span
                class="avtar avtar-xxs me-2 rounded border border-secondary bg-light-secondary"></span>Flexible & Fast
            </li>
            <li class="list-inline-item d-inline-flex align-items-center"><span
                class="avtar avtar-xxs me-2 rounded border border-secondary bg-light-secondary"></span>Material UI</li>
            <li class="list-inline-item d-inline-flex align-items-center"><span
                class="avtar avtar-xxs me-2 rounded border border-secondary bg-light-secondary"></span>Javascript /
              Typescript
            </li>
          </ul>
          <div class="row d-flex my-4">
            <div class="col">
              <input type="email" class="form-control" placeholder="Email Address" />
            </div>
            <div class="col-auto">
              <div class="d-grid">
                <button class="btn btn-primary">Subscribe</button>
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-md-6 mt-3">
              <div id="carouselExampleControls" class="carousel slide commingsoon-slider" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{% static 'assets/images/pages/slider-1.png' %}" class="d-block w-100" alt="images">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'assets/images/pages/slider-2.png' %}" class="d-block w-100" alt="images">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'assets/images/pages/slider-3.png' %}" class="d-block w-100" alt="images">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 cs-footer-text">
              <ul class="list-inline me-auto mb-3">
                <li class="list-inline-item align-bottom">
                  <a href="#" class="avtar avtar-s btn-light-facebook" data-bs-toggle="tooltip" title="Facebook">
                    <i class="ti ti-brand-facebook f-18"></i>
                  </a>
                </li>

                <li class="list-inline-item align-bottom">
                  <a href="#" class="avtar avtar-s btn-light-twitter" data-bs-toggle="tooltip" title="Twitter">
                    <i class="ti ti-brand-twitter f-18"></i>
                  </a>
                </li>
                <li class="list-inline-item align-bottom">
                  <a href="#" class="avtar avtar-s btn-light-dribbble" data-bs-toggle="tooltip" title="Dribble">
                    <i class="ti ti-brand-dribbble f-18"></i>
                  </a>
                </li>
                <li class="list-inline-item align-bottom">
                  <a href="#" class="avtar avtar-s btn-light-linkedin" data-bs-toggle="tooltip" title="Linkedin">
                    <i class="ti ti-brand-linkedin f-18"></i>
                  </a>
                </li>
                <li class="list-inline-item align-bottom">
                  <a href="#" class="avtar avtar-s btn-light-amazon" data-bs-toggle="tooltip" title="Github">
                    <i class="ti ti-brand-github f-18"></i>
                  </a>
                </li>
              </ul>
              <div class="d-flex align-items-center">
                <h5 class="mb-0 me-3 text-muted">Project By</h5>
                <img src="{% static 'assets/images/pages/codedthemes-logo.svg' %}" class="wid-130 img-fluid" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}