{% extends 'layouts/auth_base.html' %}
{% load static %}

{% block title %} 404 {% endblock title %}

{% block content %}
    <!-- [ Main Content ] start -->
    <div class="maintenance-block">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="card error-card">
              <div class="card-body">
                <div class="error-image-block">
                  <img class="image-animated img-fluid" src="{% static 'assets/images/pages/img-maintenance-bg.svg' %}" />
                  <img src="{% static 'assets/images/pages/img-error-text.svg' %}" class="img-404 error-text" />
                  <img src="{% static 'assets/images/pages/img-error-primary-widget.svg' %}" class="img-404 error-primary" />
                  <img src="{% static 'assets/images/pages/img-error-secondary-widget.svg' %}" class="img-404 puple error-secondary" />
                </div>
                <div class="text-center">
                  <h1 class="mt-4"><b>Something is wrong</b></h1>
                  <p class="mt-4 text-muted"
                    >The page you are looking was moved, removed,<br />
                    renamed, or might never exist!
                  </p>
                  <button type="button" class="btn btn-primary mb-3"><i class="ti ti-home me-2"></i>Home</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}