{% extends 'layouts/auth_base.html' %}
{% load static %}

{% block title %} Change Password {% endblock title %}

{% block content %}
    <div class="auth-main">
      <div class="auth-wrapper v1">
        <div class="auth-form">
          <div class="card mt-5">
            <div class="card-body">
              <div class="row">
                <div class="d-flex justify-content-between">
                  <div>
                    <h2 class="text-secondary"><b>Change Password</b></h2>
                    <h4 class="text-muted"><b>Please choose new password.</b></h4>
                  </div>
                  <a href="#">
                    <img src="{% static 'assets/images/logo-dark.svg' %}" />
                  </a>
                </div>
              </div>
              <form method="post">
                {% csrf_token %}
  
                {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %}
                    <span class="text-danger">{{ error }}</span>
                  {% endfor %}
                {% endif %}
  
                {% for field in form %}
                <div class="form-floating mb-3">
                  {{field}}
                  <label for="floatingInput">{{ field.label }}</label>
                </div>
                <span class="text-danger">{{ field.errors }}</span>
                {% endfor %}
                <div class="d-grid mt-4">
                  <button type="submit" class="btn btn-secondary p-2">Change Password</button>
                </div>
              </form>

            </div>
          </div>
        </div>
        <div class="auth-sidecontent">
          <div class="p-3 px-lg-5 text-center">
            <div class="animation-content">
              <img src="{% static 'assets/images/authentication/reset-error-card.svg' %}" alt="images" class="img-fluid reset-error-card mt-3" />
              <img src="{% static 'assets/images/authentication/reset-purple-card.svg' %}" alt="images" class="img-fluid reset-purple-card mt-3" />
            </div>
            <div id="carouselExampleIndicators" class="carousel slide carousel-dark" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <h1><b>Configurable Elements, East to Setup</b></h1>
                  <p class="f-12 mt-4">Powerful and easy to use multipurpose theme</p>
                </div>
                <div class="carousel-item">
                  <h1><b>Configurable Elements, East to Setup</b></h1>
                  <p class="f-12 mt-4">Powerful and easy to use multipurpose theme</p>
                </div>
                <div class="carousel-item">
                  <h1><b>Configurable Elements, East to Setup</b></h1>
                  <p class="f-12 mt-4">Powerful and easy to use multipurpose theme</p>
                </div>
              </div>
              <div class="carousel-indicators position-relative">
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}