{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Pricing 1 {% endblock title %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pc-container">
      <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <div class="col-md-12">
                <div class="page-header-title">
                  <h5 class="m-b-10">Pricing 1</h5>
                </div>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item"><a href="javascript: void(0)">Other</a></li>
                  <li class="breadcrumb-item" aria-current="page">Pricing 1</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- [ breadcrumb ] end -->


        <!-- [ Main Content ] start -->
        <div class="row justify-content-center">
          <!-- [ sample-page ] start -->
          <div class="col-md-6 col-lg-4">
            <div class="card price-card">
              <div class="card-body">
                <div class="price-icon ">
                  <i class="ti ti-motorbike bg-light-primary text-primary"></i>
                </div>
                <h2 class="mt-4">Standard</h2>
                <p class="mt-5"
                  >Create one end product for a client, transfer that end product to your client, charge them for your services. The license
                  is then transferred to the client.</p
                >
                <div class="price-price text-muted"> <sup>$</sup>69<span>/Lifetime</span> </div>
                <ul class="list-group list-group-flush product-list">
                  <li class="list-group-item enable">One End Product</li>
                  <li class="list-group-item enable">No attribution required</li>
                  <li class="list-group-item">TypeScript</li>
                  <li class="list-group-item">Figma Design Resources</li>
                  <li class="list-group-item">Create Multiple Products</li>
                  <li class="list-group-item">Create a SaaS Project</li>
                  <li class="list-group-item">Resale Product</li>
                  <li class="list-group-item">Separate sale of our UI Elements?</li>
                </ul>
                <a class="btn btn-outline-primary bg-light text-primary mt-4" href="#" role="button">Order Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card price-card active">
              <div class="card-body">
                <div class="price-icon">
                  <i class="ti ti-bus bg-light-primary text-primary"></i>
                </div>
                <h2 class="mt-4">Standard Plus</h2>
                <p class="mt-5"
                  >Create one end product for a client, transfer that end product to your client, charge them for your services. The license
                  is then transferred to the client.</p
                >
                <div class="price-price text-muted"> <sup>$</sup>129<span>/Lifetime</span> </div>
                <ul class="list-group list-group-flush product-list">
                  <li class="list-group-item enable">One End Product</li>
                  <li class="list-group-item enable">No attribution required</li>
                  <li class="list-group-item enable">TypeScript</li>
                  <li class="list-group-item enable">Figma Design Resources</li>
                  <li class="list-group-item">Create Multiple Products</li>
                  <li class="list-group-item">Create a SaaS Project</li>
                  <li class="list-group-item">Resale Product</li>
                  <li class="list-group-item">Separate sale of our UI Elements?</li>
                </ul>
                <a class="btn btn-outline-primary bg-light text-primary mt-4" href="#" role="button">Order Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card price-card">
              <div class="card-body">
                <div class="price-icon">
                  <i class="ti ti-sailboat bg-light-primary text-primary"></i>
                </div>
                <h2 class="mt-4">Extended</h2>
                <p class="mt-5"
                  >You are licensed to use the CONTENT to create one end product for yourself or for one client (a “single application”),
                  and the end product may be sold or distributed for free.</p
                >
                <div class="price-price text-muted"> <sup>$</sup>599<span>/Lifetime</span> </div>
                <ul class="list-group list-group-flush product-list">
                  <li class="list-group-item enable">One End Product</li>
                  <li class="list-group-item enable">No attribution required</li>
                  <li class="list-group-item enable">TypeScript</li>
                  <li class="list-group-item enable">Figma Design Resources</li>
                  <li class="list-group-item">Create Multiple Products</li>
                  <li class="list-group-item enable">Create a SaaS Project</li>
                  <li class="list-group-item">Resale Product</li>
                  <li class="list-group-item">Separate sale of our UI Elements?</li>
                </ul>
                <a class="btn btn-outline-primary bg-light text-primary mt-4" href="#" role="button">Order Now</a>
              </div>
            </div>
          </div>
          <!-- [ sample-page ] end -->
        </div>
        <!-- [ Main Content ] end -->
      </div>
    </div>
 {% endblock content %}