{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Pricing 2 {% endblock title %}

{% block content %}

  <!-- [ Main Content ] start -->
  <div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="page-header-title">
                <h5 class="m-b-10">Pricing 2</h5>
              </div>
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0)">Other</a></li>
                <li class="breadcrumb-item" aria-current="page">Pricing 2</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->


      <!-- [ Main Content ] start -->
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
          <div class="text-center mb-4">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary active">Annual</button>
              <button type="button" class="btn btn-primary">Monthly</button>
            </div>
          </div>
          <div class="card">
            <div class="table-responsive">
              <div class="price-card2">
                <div class="row justify-content-end g-0">
                  <div class="col-3">
                    <div class="card-body border-start text-center py-5 py-md-5">
                      <h3 class="text-primary"><b>Starters</b></h3>
                      <h3 class="text-muted mb-0 mt-5"><b><sup>$</sup>25<span>/Month</span></b></h3>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card-body border-start text-center py-5 py-md-5">
                      <h3 class="text-primary"><b>Scalability</b></h3>
                      <h3 class="text-muted mb-0 mt-5"><b><sup>$</sup>125<span>/Month</span></b></h3>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card-body border-start text-center py-5 py-md-5">
                      <h3 class="text-primary"><b>Enterprise</b></h3>
                      <h3 class="text-muted mb-0 mt-5"><b><sup>$</sup>225<span>/Month</span></b></h3>
                    </div>
                  </div>
                </div>
                <table class="table table-striped m-0">
                  <thead class="bg-light">
                    <tr>
                      <th colspan="4" class="bg-transparent">Features</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="col-3">Only 1 User uses</td>
                      <td class="col-3 text-center">
                        <div class="bg-success text-white avtar avtar-xs icon">
                          <i class="ti ti-check f-20"></i>
                        </div>
                      </td>
                      <td class="col-3 text-center">
                        <div class="bg-success text-white avtar avtar-xs icon">
                          <i class="ti ti-check f-20"></i>
                        </div>
                      </td>
                      <td class="col-3 text-center">
                        <div class="bg-success text-white avtar avtar-xs icon">
                          <i class="ti ti-check f-20"></i>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-3">10 Projects for</td>
                      <td class="col-3 text-center">
                        <div class="avtar avtar-xs">
                          <i class="ti ti-minus f-20"></i>
                        </div>
                      </td>
                      <td class="col-3 text-center">
                        <div class="bg-success text-white avtar avtar-xs icon">
                          <i class="ti ti-check f-20"></i>
                        </div>
                      </td>
                      <td class="col-3 text-center">
                        <div class="bg-success text-white avtar avtar-xs icon">
                          <i class="ti ti-check f-20"></i>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-3">Unlimited Bandwidth</td>
                      <td class="col-3 text-center">
                        <div class="avtar avtar-xs">
                          <i class="ti ti-minus f-20"></i>
                        </div>
                      </td>
                      <td class="col-3 text-center">
                        <div class="avtar avtar-xs">
                          <i class="ti ti-minus f-20"></i>
                        </div>
                      </td>
                      <td class="col-3 text-center">
                        <div class="bg-success text-white avtar avtar-xs icon">
                          <i class="ti ti-check f-20"></i>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-3">Unlimited Data</td>
                      <td class="col-3 text-center">
                        <div class="avtar avtar-xs">
                          <i class="ti ti-minus f-20"></i>
                        </div>
                      </td>
                      <td class="col-3 text-center">
                        <div class="avtar avtar-xs">
                          <i class="ti ti-minus f-20"></i>
                        </div>
                      </td>
                      <td class="col-3 text-center">
                        <div class="bg-success text-white avtar avtar-xs icon">
                          <i class="ti ti-check f-20"></i>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <thead class="bg-light">
                    <tr>
                      <th colspan="4" class="bg-transparent">Storage & Security</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="col-3">5GB of Storage</td>
                      <td class="col-3 text-center">
                        <div class="avtar avtar-xs">
                          <i class="ti ti-minus f-20"></i>
                        </div>
                      </td>
                      <td class="col-3 text-center">
                        <div class="bg-success text-white avtar avtar-xs icon">
                          <i class="ti ti-check f-20"></i>
                        </div>
                      </td>
                      <td class="col-3 text-center">
                        <div class="bg-success text-white avtar avtar-xs icon">
                          <i class="ti ti-check f-20"></i>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-3">Fully Security Suite</td>
                      <td class="col-3 text-center">
                        <div class="avtar avtar-xs">
                          <i class="ti ti-minus f-20"></i>
                        </div>
                      </td>
                      <td class="col-3 text-center">
                        <div class="avtar avtar-xs">
                          <i class="ti ti-minus f-20"></i>
                        </div>
                      </td>
                      <td class="col-3 text-center">
                        <div class="bg-success text-white avtar avtar-xs icon">
                          <i class="ti ti-check f-20"></i>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="row justify-content-end g-0">
                  <div class="col-3 text-center border-start py-4 py-md-5">
                    <button type="button" class="btn btn-outline-primary bg-light text-primary">Order Now</button>
                  </div>
                  <div class="col-3 text-center p-3 border-start py-4 py-md-5">
                    <button type="button" class="btn btn-secondary">Order Now</button>
                  </div>
                  <div class="col-3 text-center p-3 border-start py-4 py-md-5">
                    <button type="button" class="btn btn-outline-primary bg-light text-primary">Order Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- [ sample-page ] end -->
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>
  <!-- [ Main Content ] end -->
  
{% endblock content %}